
@import "style_reset.css";

body{
    font:300 14px/19px 'Roboto', 'sans-serif';
    letter-spacing: 0.1px;
    overflow-x: hidden;
}
.outer_box{
    width: 1440px;
    margin: 0px auto;
}
.clearfix:after{
    content:"";
    display:block;
    clear:both;
}

.menu_wrap{
    z-index:189;
    width:inherit;
    height: 500px;
}

.relative{
    position: relative;
}
.f_left{
    float:left;
}
.f_right{
    float:right;
}
.f_xs_none{
    float:none;
}
.width_auto{
    width: auto;
}


.text_align_c{
    text-align: center;
}
.text_align_l{
    text-align: left;
}
.text_align_r{
    text-align: right;
}

.f_size_small{
    font-size:.85em;
}
.f_size_medium{
    font-size:.9em;
}
.f_size_large{
    font-size:1.15em;
}
.f_size_ex_large{
    font-size:1.25em;
}
.f_size_big{
    font-size:1.7em;
}

.v_align_b{
    vertical-align: baseline;
}
.v_align_m{
    vertical-align: middle;
}
.v_align_bottom{
    vertical-align: bottom;
}
.d_inline_b{
    display:inline-block;
}

.horizontal_list > *{
    float:left;
}
.horizontal_list > *:first-child{
    margin-left:0;
}


.users_nav li{
    margin-left:8px;
}
.users_nav li:before,.l_width_divider li:before{
    content:"";
    display: inline-block;
    height:10px;
    border-left:1px solid #828686;
    margin:6px 8px 0 0;
}
.users_nav li:first-child:before, .l_width_divider li:first-child:before{
    display: none;
}